# Python ---------------------------------

# 仮想環境
# このフォルダは requirements.txt から再構築できるため不要
venv/

# Pythonが自動生成するキャッシュファイル
__pycache__/

# 環境変数ファイル -----------------------
# APIキーなどの機密情報が含まれるため、絶対にGitに含めない
.env


# その他、OSが自動生成するファイルなど (念のため)
.DS_Store